<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    <h1>@Model.GetName()</h1>
      <h3>Venues played by band: </h3>
      @foreach(var venue in Model.GetVenues())
      {
        <li><a href="/venues/@venue.GetId()">@venue.GetName()</a></li>
      }
      <a href="/">Home</a>
      <a href="/venues">View Venues</a>
      <a href="/bands">View Bands</a>
  </body>
</html>
