<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Band</title>
  </head>
  <body>
    <h1>Add Band</h1>
    <form action="/bands" method="post">
      <label>Band name: </label>
      <input type="text" name="name" value="">
      <button type="submit" name="button">Submit</button>
    </form>
    <a href="/">Home</a>
    <a href="/venues">View Venues</a>
    <a href="/bands">View Bands</a>
  </body>
</html>
