<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Venue</title>
  </head>
  <body>
    <h1>Add Venue</h1>
    <form action="/venues" method="post">
      <label>Venue name: </label>
      <input type="text" name="name" value="">
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
